<div class="slimscroll-menu" id="remove-scroll">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="" class="logo">
            <span>
                <img src="/images/logo.png" alt="" height="22">
            </span>
            <i>
                <img src="/images/logo_sm.png" alt="" height="28">
            </i>
        </a>
    </div>

    <!-- User box -->
    <div class="user-box">
        <div class="user-img">
            <img src="/images/logo_sm.png" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
        </div>
        <h5>
            <a href="#">Maxine Kennedy</a>
        </h5>
        <p class="text-muted">Admin Head</p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">

            <!--<li class="menu-title">Navigation</li>-->

            <li>
                <a href="/pages/home">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right"></span>
                    <span> Dashboard </span>
                </a>
            </li>

            <li>
                <a href="/pages/guards-status">
                <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right"></span>
                    <span><strong>Guards Status</strong> </span>
                </a>
            </li>

            <li>
                <a href="/pages/admin-status">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right"></span>
                    <span>
                        <strong>admin-status </strong>
                    </span>
                </a>
            </li>

            <li>
                <a href="/pages/register-clients">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right"></span>
                    <span> Add Clients </span>
                </a>
            </li>

            <li>
                <a href="/pages/register-guards">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right"></span>
                    <span> Register Guards </span>
                </a>
            </li>

            <li>
                <a href="/pages/view-guards">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right">7</span>
                    <span> View Guards </span>
                </a>
            </li>

            <li>
                <a href="/pages/view-clients">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right">7</span>
                    <span> View Clients </span>
                </a>
            </li>

            <li>
                <a href="/pages/geolocation">
                    <i class="fi-air-play"></i>
                    <span class="badge badge-danger badge-pill pull-right">7</span>
                    <span> Map Location </span>
                </a>
            </li>

        </ul>

    </div>
    <!-- Sidebar -->

    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->