<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Guards Status || Faizanam Company
        <fieldset disabled="disabled"></fieldset>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- App css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <script src="/js/modernizr.min.js"></script>
    <style>
        #guardMapLocationVisualizer {
            height: 80vh;
            width: 100%;
        }
    </style>
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">

            <% include ../partials/sidebar %>
                <!-- Sidebar -left -->

        </div>
        <div class="content-page">

            <!-- Top Bar Start -->
            <div class="topbar">

                <nav class="navbar-custom">

                    <% include ../partials/navbar %>

                </nav>
            </div>
            <div id="guardMapLocationVisualizer">

            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOHYeLojSgNa-AOB38AiZ1VUNVAuUx0p4"></script>

        <script src="/js/guardMapLocationVisualizer.js "></script>
</body>

</html>