    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8" />
        <title>View Clients || Faizanam </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- App css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

        <script src="/js/modernizr.min.js"></script>
<!-- <style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: rgb(33, 177, 243);
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(16, 230, 194, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style> -->
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA0kjf60mqHVCk3w6Ao-Ts9NTmkzmUshcw",
        authDomain: "faizanam-211422.firebaseapp.com",
        databaseURL: "https://faizanam-211422.firebaseio.com",
        projectId: "faizanam-211422",
        storageBucket: "faizanam-211422.appspot.com",
        messagingSenderId: "864721385411"
    };
    firebase.initializeApp(config);
</script>
    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <% include ../partials/sidebar %>
                    <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">

                        <% include ../partials/navbar %>

                    </nav>

                </div>
                <!-- Top Bar End -->



                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-4">
                                <a href="register-clients" class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal"
                                    data-overlaySpeed="200" data-overlayColor="#36404a">
                                    <i class="mdi mdi-plus"></i> Add Client</a>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                        <div class="row">

<div id="clientele" class="grid-container col-md-12">

</div>

                            
                            
                            <!-- end col -->
                        </div>
                        <!-- end row -->



                        <div class="row">
                            <div class="col-12">
                                <div class="text-right">
                                    <ul class="pagination pagination-split mt-0 pull-right">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">5</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

            </div>
            <!-- content -->

            <footer class="footer text-right">
                <% include ../partials/footer%>
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/metisMenu.min.js"></script>
        <script src="/js/waves.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>

        <!-- App js -->
        <script src="/js/jquery.core.js"></script>
        <script src="/js/jquery.app.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                fetch('/data/subscribedclients').then(res => res.json()).then(data => {
                    // we now have the data
                    let div = ''
                    Array.from(data).forEach(list => {
                        div += `
                                <div class="company-card card-box col-md-6 col-lg-3">
                                    <img src="${list.client_image.split('public')[1]}" alt="logo" class="company-logo">
                                    <div class="company-detail">
                                        <h4 class="mb-1">${list.client_name}</h4>
                                        <p>${list.client_website}</p>
                                    </div>

                                    <h5 class="text-muted font-normal"><span class="pull-right text-danger"><i class="mdi mdi-arrow-down"></i> 2.94%</span> ${list.client_email}</h5>

                                    <div class="text-center mt-5">
                                        <h5 class="font-normal text-muted">Client Contact</h5>
                                        <h3 class="m-b-30"><i class="mdi mdi-arrow-down-bold-circle-outline text-danger"></i> ${list.client_phone} <small></small></h3>
                                    </div>

                                    <div id="company-8" class="text-center"></div>

                                </div>
                        `
                    })
                    document.getElementById('clientele').innerHTML = div
                    console.log(data)
                })
            })

        </script>

    </body>

    </html>